html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Top section */

.banner {
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  align-items: center;
  color: white;
  top: 10rem;
}

header span {
  font-size: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 2rem;
  height: 1.5rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

ul {
  padding-right: 1rem;
}

ul li {
  margin: 1rem 1rem 1rem 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: none;
}

/* box */

.flex {
  display: flex;
  justify-content: flex-end;
}
.box {
  background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
}

.box h1 {
  font-size: 2rem;
  line-height: 1.2em;
  padding: 1.5rem 5rem;
  font-weight: bold;
}

/* Middle section icons */

.middle {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  margin: 3rem;
  width: 5rem;
}

img.paper-icon {
    width: 3.5rem;
  }

img.ruler-icon {
  width: 5rem;
}

img.truck-icon {
  width: 5rem;
}

/* Middle section info */

.info {
  display: flex;
  justify-content: center;
}

.block {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.title {
  background-color: cadetblue;
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

p {
  margin-top: 1rem;
}

/* Footer */

footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Media queries tablet */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0rem;
    height: 22rem;
  }

  .box {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .box h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
}

/* Media queries menu */

@media only screen and (max-width: 700px) {
  nav {
    display: none;
  }

  .mobile-menu {
    display:flex;
    justify-content: flex-end;
    margin: 1rem 2rem 1rem 0;

  }
}
/* Media queries mobile */

@media only screen and (max-width: 560px) {
  .container {
    width: 100%;
  }

  .banner {
    background-size: cover;
    background-position: 20%;
    padding-top: 0rem;
    height: 17rem;
    margin-bottom: 3.77rem;
  }

  .box {
    margin-top: 9rem;
    width: 100%;
    margin-right: 0;
  }

  .box h1 {
    font-size: 1rem;
    padding: 1rem 0;
    text-align: center;
  }

  .logo span {
    display: none;
  }

  .middle {
    width: 100%
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }

  .icon {
    margin: 1.54rem auto;
    height: auto;
  }

  .icon img {
    margin-bottom: 1.54rem;
    height: auto;
  }

  .icon h3 {
    font-size: 0.77rem;
  }

  .info {
    margin-top: 3.77rem;
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .block {
    width: auto;
  }

  .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .title p {
    padding-top: 1rem;
    font-size: 0.77rem;
    padding-bottom: 4rem;
  }

  footer span {
    display: none;
  }

  footer img {
    justify-content: center;
    margin: auto;
  }
}
